<h3>Updates</h3>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Student</th>
      <th>Note</th>
      <th>Follow Up</th>
      <th>Staff</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @updates.each do |update| %>
      <tr>
        <td><%= update.date.strftime('%e %h %Y, %H:%M') %></td>
        <td><%= link_to update.student.name, student_path(update.student) %></td>
        <td><%= update.note %></td>
        <td><%= update.followup %></td>
        <td><%= update.staff %></td>
        <td><%= link_to 'Show', update, class: 'btn btn-sm btn-primary' %></td>
        <td><%= link_to 'Edit', edit_update_path(update), class: 'btn btn-sm btn-warning' %></td>
        <td><%= link_to 'Destroy', update, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Update', new_update_path, class: 'btn btn-sm btn-success' %>
